html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    margin: 0 auto;
}
.topic{
    margin: 10px;
    width: 125px;
    background-color: teal;
    color: #fff;
    border: 3px black solid;
}
.topic:first-letter{
    text-transform: capitalize;
}
.topic:hover{
    border: 3px lightgray solid;
}

header{
    border-bottom: 3px teal solid;
    margin: 20px 0;
    padding-bottom: 20px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}

#content{
    display: flex;
    flex-flow: row;
}
#searchArea{
    height: 175 px;
    border: 3px lightgray solid;
    padding: 20px;
    margin-bottom: 20px;
}

h3{
    border-bottom: 2px teal solid;
}
#animalInput{
    margin-top: 10px;
    width: 50%
}

#userInput{
    max-width: 100%; 
    margin-bottom: 10px;
}

.gifArea{
    justify-content: space-around;
}
.gifBox{
    max-width: 290px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}
.gifImage{
    width: 275px;
    max-height: 300px;
    margin: 10px;
}

@media screen and (max-width: 720px){
    #content{
        flex-flow: column-reverse;
    }
    #gifArea{
        justify-content: center;
    }
}